@import 'node_modules/newsapps-styles/init-helpers';
@import 'node_modules/newsapps-styles/theme/graphic';

@import 'base';

$lightest: #f5f9fc;
$mid-light: #c3d2e2;
$mid-dark: #4d729a;
$darkest: #1d1f21;

$small: 450px;
$sm-md: 575px;
$medium: 950px;
$large: 1350px;

a {
	color: $mid-dark;
}

a:hover, div.see-more a h3:hover {
	text-decoration: none;
	color: $mid-light;
}

.fa-bars {
	color: $mid-dark;
	float: right;
	margin: .5em;
}

.fa.fa-cogs {
	margin: 0 1em 0em 1em;
}

nav h5 .fa {
	margin: 0 .5em 0em 2em;
	display: none;
	@include media($sm-md) {
		display: inline-block;
	}
}

.featured {
	width: 100%;
	margin: 40px 0 60px 0;
	margin-right: auto;
	margin-left: auto;
	@include clearfix;
	@include media (850px) {
		width: 90%;
	}
}

.featured-hed {
	text-align: center;
	width: 100%;
	margin: 10px 0 30px 0;
}

.featured-img {
	width: 100%;
	float: left;
	padding: 1em;
	@include media (850px) {
		width: 50%;
	}
}

.featured-text {
	width: 100%;
	float: left;
	padding: 1em;
	@include media (850px) {
		width: 50%;
		padding: 0 1em 0 1em;
	}
}

.footer {
	background-color: $mid-dark;
	width: 100%;
	height: 2.5em;
	position: absolute;
	bottom: 0;
	left: 0;
}

.footer-about {
	padding: .8em 0 0 0;
	@include media ($sm-md) {
		padding: .5em;
	}
}

.footer-about a {
	color: $mid-light;
}

.footer-about a:hover {
	color: $mid-light;
	text-decoration: underline;
}

.four-vid {
	display: none;
	@include media ($sm-md) {
		display: block;
	}
	@include media ($medium) {
		display: none;
	}
	@include media ($large) {
		display: block;
	}
}

.graphic {
	padding: 0em 0em 2.5em 0em;
	background-color: $lightest;
}

#graphic-container {
	padding-top: 1em;
	padding-bottom: 1.5em;
}

h1, h5 {
	font-weight: 800;
}

h1, h4 {
	margin: 0em;
}

h1 {
	color: $darkest;
}

h2 {
	font-size: 1.2em;
	line-height: 1.3em;
}

h3 {
	font-size: 1.1em;
	padding: .25em .5em .25em .5em;
}

.info-show h3, .info-hide h3 {
	display: inline-block;
}

h4 {
	color: $mid-light;
	text-align: center;
	padding: .5em;
	font-weight: 300;
	font-size: .9em;
	@include media ($sm-md) {
		font-size: 1em;
	}
}

.hed {
	padding: 0em 0em 0em .5em;
	width: 80%; 
	float: left;
	display: -webkit-box;
	margin: 0 auto;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.hello {
    padding: 0 .5em 0em .5em;
    text-align: left;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 860px;
    h4 {
  	  text-decoration: underline;
    }
    @include media ($sm-md) {
		padding: 0 1em 0em 1em;
		display: flex;
    	justify-content:center;
	}
}

.hello-hed {
	width: 100%;
	float: left;
	text-align: center;
}

.section h2.hello-bold {
	font-weight: 600;
}

.hello-text {
	width: 100%;
	padding: 1em;
	float: left;
	h3 {
		padding: 0;
	}
	@include media ($sm-md) {
		width: 50%;
		align-self:center;
		float: left;
		max-width: 550px;
		padding: 1em 1em 1em 2em;
	}
}

.hello-img {
	float: left;
	display: block;
	margin: 0 0 40px 0;
	padding: 1em;
	width: 100%;
	// border-radius: 50%;
	@include media ($sm-md) {
		width: 50%;
		max-height: 170px;
		max-width: 170px;
		align-self:center;
		padding: .1em;
		margin: 0;
	}
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: $lightest;
}

hr {
	width: 80%;
	height: 1px;
	margin: 0em;
	margin-right: auto;
	margin-left: auto;
	color: $mid-dark;
}

.info-hide {
	display: none;
}

.info-show h3, .info-hide h3{
	cursor: pointer;
}

.info-hide h3:hover, .info-show h3:hover {
	color: $mid-light;
}

.intro {
  min-height: 0vh;
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 2em 1em 2em 1em;
  @include media ($medium) {
  	min-height: 80vh;
  }
}

div.item.two {
	clear: both;
	@include media($medium) {
		clear: none;
	}
}

div.item.two.four {
	clear: both;
	@include media($medium) {
		clear: none;
	}
	@include media($large) {
		clear: both;
	}
}

div.item.three{
	clear: none;
	@include media($medium) {
		clear: both;
	}
	@include media($large) {
		clear: none;
	}
}

div.item.four{
	clear: none;
	@include media($large) {
	clear: both;
	}
}

// IF ONLY SHOWING 3 ON MOBILE
// div.item.last{
// 	display: none;
// 	@include media($sm-md) {
// 		display: block;
// 	}
// }

.item-img {
	width: 100%;
}

.item {
	@include clearfix;
	float: left;
	padding: .5em 1.75em .5em 1.75em;
	margin: 1em 0em 2em;
	width: 100%;
	@include media($sm-md) {
		width: 50%;
		margin: 0 0 1em;
		h3 {
			font-size: 1.17em;
		}
	}
	@include media($medium) {
		width: 33%;
	}
	@include media($large) {
		width: 25%;
	}
}

.item-text-cd, .item-text-st, .item-text-vd {
	display: none;
	position: relative;
	float: left;
}

.logo {
	width: 20%;
	padding: .25em .5em .5em 0em;
	float: left;
}

.m {
	height: 3em;
	padding: .5em;
	float: left;
	vertical-align: text-top;
}

.mallory-mobile {
	border-radius: 50%;
	padding: 1em;
	width: 90%;
	margin-left: auto;
    margin-right: auto;
    display: block;
    @include media ($small) {
    	width: 20em;
    }
    @include media ($medium) {
    	display: none;
    }
}

.m:hover {
	background-color: $mid-dark;
}

.me-link, .info-hide h3, .info-show h3 {
	background-color: $mid-light;
	padding: 0 .2em 0 .2em;
	color: $mid-dark;
}

.me-link:hover, .info-hide h3:hover, .info-show h3:hover {
	color: $lightest;
}

.more-links {
	@include media ($sm-md) {
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
	    -moz-column-count: 2; /* Firefox */
	    column-count: 2;
	    -webkit-column-width: 50%;
	    -moz-column-width: 50%;
	    column-width: 50%;
	}
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}

.nav-bar {
	height: 3em;
	background-color: $darkest;
}

p, ul, h1, h2, h3, h4, h5, h6 {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
}

p {
	color: $darkest;
	a {
		color: $mid-dark;
		text-decoration: underline;
	}
}

#projects {
	@include clearfix;
}

.section {
	padding: 1em 0em 0em 0em;
	@include clearfix;
	position: relative;
	margin: 0% 3% 0% 3%;
	@include media($small) {
		margin: 0% 5% 0% 5%;
	}
	@include media($sm-md) {
		margin: 0% 8% 0% 8%;
	}
	@include media($medium) {
		margin: 0% 10% 0% 10%;
	}
	h1{
		font-size: 2em;
		margin: 0em;
		font-weight: 800;
	}
	h3 {
		font-weight: 400;
	}
	h2 {
		font-weight: 500;
	}
}

.section-about {
	width: 100%;
	@include media ($sm-md) {
		width: 80%;
	}
}

.see-more {
	clear: both;
	h3 {
		float: left;
	}
}

.selection {
	float: right;
	margin: none;
	@include media ($sm-md) {
		margin: 0 1em;
	}
}

.tab.active, .tab:active {
	background-color: $lightest !important;
	h4 {
		color: $darkest;
	}	
}

.tab.selected {
	background-color: $lightest;
	h4 {
		color: $darkest;
	}
}

.tab {
    float: left;
    padding: .5em 0em .25em 0em;
    height: 3em;
    @include media ($sm-md) {
    	padding: .25em .5em .25em .5em;
    }
    h4 {
    	color: $lightest;
    	display: none;
    	@include media ($small) {
    		display: inline-block;
    	}
    } 
    i.fa {
    	color: $lightest;
    	display: inline-block;
    	padding: .5em;
    	@include media ($small) {
    		display: none;
    		padding: 0;
    	}
    }
}

.tab.active i.fa {
	color: $darkest;
}

.tab:hover {
	background-color: $mid-dark;
	cursor: pointer;
}

.team {
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
   	break-inside: avoid; /* IE 10+ */
   	padding: .5em;
   	margin: .5em;
   	h2 {
   		color: $darkest;
   		margin: 0 0 .4em;
   	}
}

ul {
	padding: 0em 0em 0em 1em;
	color: $darkest;
	list-style-type: square !important;
	padding: 0em 0em 0em 3em !important;
	margin: 0;
}

.wrapper {
	min-height:100%;
	position:relative;
}

.x:after {
	display: none;
}
