<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> Mallory Busch </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- build:css styles/main.min.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="icon" href="assets/images/favicon.png" type="image/png">
</head>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MHW3SH"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MHW3SH');</script>
<!-- End Google Tag Manager -->

  <div class="wrapper">

    <!-- <nav class="nav-bar">
      <a href="index.html"><img class="m" src="assets/images/m.png" type="image/png"></a>
      <div class="selection">
        {% for row in tabs %}
        <div class="tab" id="{{ row.id }}"><a href="{{ row.page }}"><h4>{{ row.name }}</h4><i class="fa {{ row.fa }}"></i></a></div>
        {% endfor %}
      </div>
    </nav> -->

    <div class="graphic">
      <div id="graphic-container">
      {% block content %}{% endblock %}
      </div><!--End div#graphic-container-->
    </div>

    <div class="footer">
      <h4 class= "footer-about"><a href="about.html">About this website</a>
    </div>

  </div>

<!--jquery-->
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<!-- build:js scripts/main.min.js -->
<script src="/node_modules/pym.js/dist/pym.js"></script>
<script src="scripts/main.js"></script>
<!-- endbuild -->
<script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-9827490-1', 'auto');
  ga('set', 'location', window.location.protocol + '//' + window.location.hostname + window.location.pathname);
  ga('set', 'page', window.location.pathname);
  ga('send', 'pageview');
</script>
</body>
</html>
