{% extends "_base.html" %}

{% block content %}
<div class="section">
	<h1>About this website</h1>
		<div class="section-about">
			<p>This website was built by Mallory Busch in the fall of 2015, using The Texas Tribune's <a href="https://github.com/texastribune/newsapps-graphic-kit">graphic kit</a>, which utilizes Google Spreadsheets, SCSS and the templating language nunjucks. The code is available <a href="https://github.com/yeamal/yeamal.github.io" target="_blank">here</a> on Github.</p>
		</div>
</div>
{% endblock %}