{% extends "_base.html" %}

{% block content %}

<nav class="nav-bar">
  <a href="index.html"><img class="m" src="assets/images/m.png" type="image/png"></a>
  <div class="selection">
    {% for row in tabs %}
    <div class="tab" id="{{ row.id }}"><a href="{{ row.page }}"><h4>{{ row.name }}</h4><i class="fa {{ row.fa }}"></i></a></div>
    {% endfor %}
  </div>
</nav>

<div class="section">
	<h1>About this website</h1>
		<div class="section-about">
			<p>This website was built by Mallory Busch in the fall of 2015, using The Texas Tribune's <a href="https://github.com/texastribune/newsapps-graphic-kit">graphic kit</a>, which utilizes Google Spreadsheets, SCSS and the templating language nunjucks. The code is available <a href="https://github.com/yeamal/yeamal.github.io" target="_blank">here</a> on Github.</p>
		</div>
</div>
{% endblock %}