{% extends "_base.html" %}

{% block content %}
	<div class="section">
		<h1>The Texas Tribune</h1>
		<ul>
			{% for row in code %}
				{% if row.organization == 'The Texas Tribune' %}
				<li><a href="{{ row.link }}" target="_blank">{{ row.name }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
		<h1>Knight Lab</h1>
		<ul>
			{% for row in code %}
				{% if row.organization == 'Knight Lab' %}
				<li><a href="{{ row.link }}" target="_blank">{{ row.name }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
		<h1>North by Northwestern</h1>
		<ul>
			{% for row in code %}
				{% if row.organization == 'North by Northwestern' %}
				<li><a href="{{ row.link }}" target="_blank">{{ row.name }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
		<h1>Classwork</h1>
		<ul>
			{% for row in code %}
				{% if row.organization == 'Class' %}
				<li><a href="{{ row.link }}" target="_blank">{{ row.name }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
		<h1>Just for fun</h1>
		<ul>
			{% for row in code %}
				{% if row.organization == 'etc' %}
				<li><a href="{{ row.link }}" target="_blank">{{ row.name }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
{% endblock %}
