{% extends "_base.html" %}

{% block content %}
	
	<div class="section" id="code">
      <h1>Code + Data</h1>
      <div class="info-hide" id="info-hide-cd"><h3>(Hide descriptions...)</h3></div>
      <div class="info-show" id="info-show-cd"><h3>(Show descriptions...)</h3></div>
        {% for row in frontcode %}
          <div class="item{% if row.two == 'y' %} two{% endif %}{% if row.three == 'y' %} three{% endif %}{% if row.four == 'y' %} four{% endif %}{% if row.last == 'y' %} last{% endif %} item-cd"> 
            <div class="top-label">
              <img class="logo" src="assets/images/{{ row.logo }}">
              <h2 class="hed">{{ row.name }}</h2>
            </div>
            <a href="{{ row.link }}" target="_blank">
              <img class="item-img" src="assets/images/{{ row.img }}">
            </a>
            <div class="item-text-cd">
              <p>{{ row.description }}</p>
              <h5>{{ row.tools }}</h5>
            </div>
          </div>
        {% endfor %}
    </div>
    <hr>
	<div class="section section-code">
		<div class="team">
			<h2>The Texas Tribune</h2>
			<ul>
				{% for row in code %}
					{% if row.organization == 'The Texas Tribune' %}
					<li><a href="{{ row.link }}" target="_blank">{{ row.name }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
		<div class="team">
			<h2>North by Northwestern</h2>
			<ul>
				{% for row in code %}
					{% if row.organization == 'North by Northwestern' %}
					<li><a href="{{ row.link }}" target="_blank">{{ row.name }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
