{% extends "_base.html" %}

{% block content %}
<div class="section">
    <div class="hello">
        <img class="hello-img" src="assets/images/mallorybusch.jpg">
      <div class="hello-text">
        <h1>Mallory Busch</h1>
        <h2 class="hello-bold">Hi, I'm Mallory. I'm a data journalist.</h2>
        <h3>Currently at <a href="https://twitter.com/ChiTribGraphics" class="me-link" target="_blank">Chicago Tribune Graphics</a>, I've also had gigs with The Texas Tribune, TIME and Knight Lab.</h3>
        <h3>Like what you see? Send me an <a href="mailto:m.mallorybusch@gmail.com" class="me-link" target="_blank">email</a>, connect on <a href="https://fr.linkedin.com/in/yeamal" class="me-link" target="_blank">LinkedIn</a> or check out my <a href="https://twitter.com/yeamal" class="me-link" target="_blank">Twitter</a>.</h3>
      </div>
    </div>      
</div>
<div class="section">
  <div class="featured">
    <div class="featured-hed">
      <h1>Featured Project</h1>
      <h2 class="hello-bold">'85 Bears Explorer</h2>
    </div>
    <a href="http://www.chicagotribune.com/sports/football/bears/ct-graphics-bears85-htmlstory.html" target="_blank"><img src="assets/images/bears-85.png" class="featured-img"></a>
    <div class="featured-text">
      <h3>This Bears Super Bowl explorer allows the user to <a href="http://www.chicagotribune.com/sports/football/bears/ct-graphics-bears85-htmlstory.html" class="me-link" target="_blank">look up the personal story</a> of any member of that famed '85 team &ndash; What was their role in that championship year, and what have they done since? Each profile includes a photo, the number, the years with the bears and the personal details of every player and coach.</h3>
      <h3>Built with HTML, SCSS and jQuery, each profile also includes its own unique link, so social teams can promote individual members' stories when they come up in the news, or dole out individual stories as evergreen content.</h3>
    </div>
  </div>
</div>

{% endblock %}
