{% extends "_base.html" %}

{% block content %}

<nav class="nav-bar">
  <a href="index.html"><img class="m" src="assets/images/m.png" type="image/png"></a>
  <div class="selection">
    {% for row in tabs %}
    <div class="tab" id="{{ row.id }}"><a href="{{ row.page }}"><h4>{{ row.name }}</h4><i class="fa {{ row.fa }}"></i></a></div>
    {% endfor %}
  </div>
</nav>

<div class="section">
  <div class="hello-hed">
    <h1>Mallory Busch</h1>
    <h2 class="hello-bold">Data journalist.</h2>
  </div>
  <div class="hello">
    <img class="hello-img" src="assets/images/mallorybusch.jpg">
    <div class="hello-text">
      <h3>I tell stories with data and code. But you'll also find me strategizing ways to build audiences.</h3>
      <h3>Currently at Chicago Tribune Graphics, I've also had gigs with the Texas Tribune, TIME and Knight Lab.</h3>
      <h3>My passion is telling stories that matter, in ways that get audiences to care & engage. If that interests you too, let's chat.</h3>
      <h3><a href="mailto:m.mallorybusch@gmail.com" class="me-link" target="_blank">Email</a> &nbsp; <a href="https://fr.linkedin.com/in/yeamal" class="me-link" target="_blank">LinkedIn</a> &nbsp; <a href="https://twitter.com/yeamal" class="me-link" target="_blank">Twitter</a></h3>
    </div>
  </div>      
</div>
<div class="section">
  <div class="featured">
    <div class="featured-hed">
      <h1>Featured Project</h1>
      <h2 class="hello-bold">'85 Bears Explorer</h2>
    </div>
    <div class="featured-text">
      <h3>This Bears Super Bowl explorer allows the user to <a href="http://www.chicagotribune.com/sports/football/bears/ct-graphics-bears85-htmlstory.html" class="me-link" target="_blank">look up the personal story</a> of any member of that famed '85 team &ndash; What was their role in that championship year, and what have they done since?</h3>
      <h3>Built with HTML, Sass, Jinja and jQuery, each profile also includes its own unique link, so social teams can promote individual members' stories when they come up in the news, or dole out individual stories as evergreen content.</h3>
    </div>
    <a href="http://www.chicagotribune.com/sports/football/bears/ct-graphics-bears85-htmlstory.html" target="_blank"><img src="assets/images/bears-85.png" class="featured-img"></a>
  </div>
</div>

{% endblock %}
