{% extends "_base.html" %}

{% block content %}
	<div class="section" id="audience">
      <h1>Audience Strategy</h1>
      <div class="info-hide" id="info-hide-st"><h3>(Hide descriptions...)</h3></div>
      <div class="info-show" id="info-show-st"><h3>(Show descriptions...)</h3></div>
        {% for row in frontaudience %}
          <div class="item{% if row.two == 'y' %} two{% endif %}{% if row.three == 'y' %} three{% endif %}{% if row.four == 'y' %} four{% endif %}{% if row.last == 'y' %} last{% endif %} item-st"> 
            <div class="top-label">
              <img class="logo" src="assets/images/{{ row.logo }}">
              <h2 class="hed">{{ row.name }}</h2>
            </div>
            {% if row.window == 'y' %}<a href="{{ row.link }}" target="_blank">{% endif %}
              <img class="item-img" src="assets/images/{{ row.img }}">
            </a>
            <div class="item-text-st">
              <p>{{ row.description }}</p>
              <h5>{{ row.tools }}</h5>              
            </div>
          </div>
        {% endfor %}
    </div>
{% endblock %}
