{% extends "_base.html" %}

{% block content %}
	<nav class="nav-bar">
	  <a href="index.html"><img class="m" src="assets/images/m.png" type="image/png"></a>
	  <div class="selection">
	    {% for row in tabs %}
	    <div class="tab" id="{{ row.id }}" style="{% if row.id == 'videoTab' %}background-color:#f5f9fc;{% endif %}"><a href="{{ row.page }}"><h4 style="{% if row.id == 'videoTab' %}color:#1d1f21;{% endif %}">{{ row.name }}</h4><i class="fa {{ row.fa }}"></i></a></div>
	    {% endfor %}
	  </div>
	</nav>

	<div class="section" id="video">
      <h1>Videography</h1>
      <div class="info-hide" id="info-hide-vd"><h3>(Hide descriptions...)</h3></div>
      <div class="info-show" id="info-show-vd"><h3>(Show descriptions...)</h3></div>
        {% for row in frontvideo %}
          <div class="item{% if row.two == 'y' %} two{% endif %}{% if row.three == 'y' %} three{% endif %}{% if row.four == 'y' %} four-vid{% endif %}{% if row.last == 'y' %} last{% endif %} item-vd"> 
            <div class="top-label">
              <img class="logo" src="assets/images/{{ row.logo }}">
              <h2 class="hed">{{ row.name }}</h2>
            </div>
            <a href="{{ row.link }}" target="_blank">
              <img class="item-img" src="assets/images/{{ row.img }}">
            </a>
            <div class="item-text-vd">
              <p>{{ row.description }}</p>
              <h5>{{ row.tools }}</h5>              
            </div>
          </div>
        {% endfor %}
    </div>
    <hr>
	<div class="section">
		<div class="team">
			<h2>North by Northwestern</h2>
			<ul>
				{% for row in video %}
					{% if row.organization == 'North by Northwestern' %}
					<li><a href="{{ row.link }}" target="_blank">{{ row.name }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
		<div class="team">
			<h2>Sherman Ave</h2>
			<ul>
				{% for row in video %}
					{% if row.organization == 'Sherman Ave' %}
					<li><a href="{{ row.link }}" target="_blank">{{ row.name }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
		<div class="team">
			<h2>Medill Magazine</h2>
			<ul>
				{% for row in video %}
					{% if row.organization == 'Medill Magazine' %}
					<li><a href="{{ row.link }}" target="_blank">{{ row.name }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
		<div class="team">
			<h2>Just For Fun</h2>
			<ul>
				{% for row in video %}
					{% if row.organization == 'etc' %}
					<li><a href="{{ row.link }}" target="_blank">{{ row.name }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
		<div class="team">
			<h2>Classwork</h2>
			<ul>
				{% for row in video %}
					{% if row.organization == 'Class' %}
					<li><a href="{{ row.link }}" target="_blank">{{ row.name }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
